.place__paragraph {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: #FFFFFF;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin: auto 16px 24px;
        font-size: 16px;
        line-height: 1.62;
    }

    .place__paragraph:last-child {
        margin: 0 16px;
    }
}