.footer__list {
    margin-right: 18px;
}

.footer__list:last-child {
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__list {
        margin-bottom: 32px;
    }
    .footer__list:last-child {
        margin-bottom: 0;
    }
}